* {
  margin: 0;
  padding: 0;
}

.row{
width: 514px;
height: 38px;
margin-top:22px;
}
.row p {
display: inline-block;
width: 92px;
height: 38px;
margin-left: 30px;
font-weight: 300;
font-family: "Rubik";
font-size: 18px;
}
